/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -------------------------------------------------------------------------------------
            // |  TAB |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  \  |   DEL    |
            // | BSPC |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |    =      |
            // | CTRL |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  '  | / |
            //                         | ALT | LWR | SPC | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp D    &kp R                    &kp W            &kp B               &kp J  &kp F          &kp U      &kp P    &kp BSLH  &kp DEL
&kp BSPC   &kp A  &lt 2 S  &kp H                    &kp T            &kp G               &kp Y  &lt 1 N        &kp E      &kp O    &kp I     &kp EQUAL
&kp LCTRL  &kp Z  &kp X    &kp M                    &kp C            &kp V               &kp K  &kp L          &kp COMMA  &kp DOT  &kp SQT   &kp SLASH
                           &mt LEFT_ALT UNDERSCORE  &mt RSHFT SPACE         &lt 3 SPACE         &kp SEMICOLON  &kp ENTER
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans          &trans  &trans  &trans        &kp KP_PLUS    &trans  &trans
&trans  &kp N0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans          &trans  &trans  &kp ASTERISK  &kp KP_DIVIDE  &trans  &trans
&trans  &trans  &kp N7        &kp N8        &kp N9        &trans          &trans  &trans  &trans        &trans         &trans  &trans
                              &trans        &trans                &trans          &trans  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &kp LBKT      &trans        &trans          &trans  &kp GRAVE     &kp RBKT      &trans  &trans  &trans
&trans  &trans  &trans  &kp LS(LBRC)  &kp LS(LPAR)  &trans          &trans  &kp LS(RPAR)  &kp LS(RBRC)  &trans  &trans  &trans
&trans  &trans  &trans  &trans        &trans        &trans          &trans  &trans        &trans        &trans  &trans  &trans
                        &trans        &trans                &trans          &trans        &trans
            >;
        };

        nav {
            bindings = <
&kp ESCAPE  &trans  &trans    &kp UP    &trans     &trans          &trans  &trans     &trans         &trans     &trans  &trans
&trans      &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans          &trans  &kp LC(C)  &kp LC(V)      &kp LC(X)  &trans  &trans
&trans      &trans  &trans    &trans    &trans     &trans          &trans  &kp LC(Z)  &kp LS(LC(Z))  &trans     &trans  &trans
                              &trans    &trans             &trans          &trans     &trans
            >;
        };
    };
};
