/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -------------------------------------------------------------------------------------
            // |  TAB |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  \  |   DEL    |
            // | BSPC |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |    =      |
            // | CTRL |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  '  | / |
            //                         | ALT | LWR | SPC | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp D  &kp R     &kp W            &kp B             &kp J  &kp F          &kp U      &kp P    &kp BSLH  &kp DEL
&kp BSPC   &kp A  &kp S  &kp H     &kp T            &kp G             &kp Y  &kp N          &kp E      &kp O    &kp I     &kp EQUAL
&kp LCTRL  &kp Z  &kp X  &kp M     &kp C            &kp V             &kp K  &kp L          &kp COMMA  &kp DOT  &kp SQT   &kp BSLH
                         &kp LALT  &mt RSHFT SPACE         &kp SPACE         &mt RSHFT RET  &kp RALT
            >;
        };
    };
};
